.center {
    margin: auto;
    background: lime;
    width: 66%;
    }
    
    .outside {
    margin: 3rem 0 0 -3rem;
    background: cyan;
    width: 66%;
    }


h1{
    color:green;
}
p1{
    class: center;
}
p2{
    class: outside;
}

h2{

    color:green;
}


h4 {
        background-color: lime;
       padding: 20px 50px;
}
         
h3 {
       background-color: cyan;
       padding: 110px 50px 50px 110px;
}